# Python cache
__pycache__/
*.py[cod]

# Virtual environments
venv/
.venv/
env/
backend/venv/
backend/.venv/

# Environment variables
.env
.env.*

# VS Code
.vscode/

# PyCharm
.idea/

# Python build files
build/
dist/
*.egg-info/

# Flask
instance/
*.db

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

backend/mnt/